In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import time

In [22]:
url = 'https://npb.jp/bis/yearly/centralleague_2023.html'
lst = pd.read_html(url, flavor='bs4')

In [23]:
table = lst[3]
table

            チーム  試 合  勝 利  敗 北  引 分  Unnamed: 5    勝 率  ゲーム差
0       阪神タイガース  143   85   53    5         NaN  0.616   - -
1       広島東洋カープ  143   74   65    4         NaN  0.532  11.5
2  横浜DeNAベイスターズ  143   74   66    3         NaN  0.529  12.0
3      読売ジャイアンツ  143   71   70    2         NaN  0.504  15.5
4   東京ヤクルトスワローズ  143   57   83    3         NaN  0.407  29.0
5       中日ドラゴンズ  143   56   82    5         NaN  0.406  29.0

In [33]:
url_base = 'https://npb.jp/bis/yearly/{league}league_{year}.html'
filename_base = 'standings_{year}_{league}.csv'

for i in range(74):
    y = i + 1950
    print(y)
    
    # セリーグ
    url = url_base.format(league='central',year=y)
    lst = pd.read_html(url, flavor='bs4')
    table = lst[3]
    filename = filename_base.format(league='central',year=y)
    table.to_csv('data/' + filename)
    time.sleep(1)
    
    # パリーグ
    url = url_base.format(league='pacific',year=y)
    lst = pd.read_html(url, flavor='bs4')
    table = lst[3]
    filename = filename_base.format(league='pacific',year=y)
    table.to_csv('data/' + filename)
    time.sleep(1)

1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023